In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('trip.csv',error_bad_lines=False)
df.head(10)

/home/yaseen/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
5,436,10/13/2014 10:34,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974.0
6,437,10/13/2014 11:35,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35,10/13/2014 11:45,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
9,440,10/13/2014 11:35,10/13/2014 11:45,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0

### What is the average trip duration for a borrowed bicycle?

In [3]:
df = pd.read_csv('trip.csv',error_bad_lines=False)
average_Trip = float(df['tripduration'].mean())
assert (average_Trip)==1178.2956753399776

/home/yaseen/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

### What’s the most common age of a bicycle-sharer?

In [4]:
df = pd.read_csv('trip.csv',error_bad_lines=False)
sort_common_age = df.groupby('birthyear').count()
most_common_age = sort_common_age.sort_values(by='bikeid', ascending=False).head(1)
most_common_age_bicycle = float(2021 - most_common_age.index[0])
assert (most_common_age_bicycle) == 34.0

b'Skipping line 50794: expected 12 fields, saw 20\n'

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:
df_weather = pd.read_csv('weather.csv')
data_month = df_weather[['Date','Precipitation_In']]
# df_weather['Date'] = pd.to_datetime(df_weather['Date'].year)
# df_weather['Date'] = pd.DatetimeIndex(df_weather['Date']).year.values

group_month_avg =data_month.groupby([(pd.DatetimeIndex(data_month['Date']).year.values),(pd.DatetimeIndex(data_month['Date']).month.values)]).mean()
group_month_median =data_month.groupby([(pd.DatetimeIndex(data_month['Date']).year.values),(pd.DatetimeIndex(data_month['Date']).month.values)]).median()
print(group_month_avg)
print(group_month_median)

         Precipitation_In
2014 10          0.300526
     11          0.141667
     12          0.145161
2015 1           0.070645
     2           0.163214
     3           0.135161
     4           0.056667
     5           0.014194
     6           0.005667
     7           0.008710
     8           0.035484
     9           0.041000
     10          0.120645
     11          0.234000
     12          0.327419
2016 1           0.216452
     2           0.173448
     3           0.178710
     4           0.046000
     5           0.010645
     6           0.055333
     7           0.015484
     8           0.000968
         Precipitation_In
2014 10             0.140
     11             0.010
     12             0.010
2015 1              0.010
     2              0.025
     3              0.000
     4              0.000
     5              0.000
     6              0.000
     7              0.000
     8              0.000
     9              0.000
     10             0.010
     11             0.065
     12             0.120
2016 1              0.070
     2              0.080
     3              0.060
     4              0.000
     5              0.000
     6              0.000
     7              0.000
     8              0.000

### What's the average number of bikes at a given bike station?

In [8]:
df_station = pd.read_csv('station.csv')
avg_bike_station = float(df_station['install_dockcount'].mean())
assert (avg_bike_station)==17.586206896551722

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [5]:
df_station = pd.read_csv('station.csv')
# avg_bike_station_current = df_station['current_dockcount'].sum()
# avg_bike_station_current 
# avg_bike_station_install = df_station['install_dockcount'].sum()

# prop_loss_bike = avg_bike_station_current/avg_bike_station_install*100
# prop_loss_bike = 100-prop_loss_bike
# prop_loss_bike = str(prop_loss_bike)+'%'
# df_station
avg_bike_station_current = (df_station['current_dockcount']-df_station['install_dockcount'])
assert (avg_bike_station_current.sum())== -62

### find avg of male/female have bicycle

In [6]:
df = pd.read_csv('trip.csv',error_bad_lines=False)
df2=df.head(1000)
male_bick = df2 [df2['gender'] == 'Male'].mean()
female_bick = df2 [df2['gender'] == 'Female'].mean()
avg_gender = male_bick/female_bick
gender_trip=float(avg_gender['tripduration'])
gender_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'
/tmp/ipykernel_995/3917316652.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  male_bick = df2 [df2['gender'] == 'Male'].mean()
/tmp/ipykernel_995/3917316652.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  female_bick = df2 [df2['gender'] == 'Female'].mean()

0.9156825992927549

### what date the weather is Rain-Thunderstorm ?

In [7]:
df_weather = pd.read_csv('weather.csv')
Rain_Thunderstorm = df_weather[df_weather['Events']=='Rain-Thunderstorm']
Rain_Thunderstorm['Date']

422     12/9/2015
423    12/10/2015
518     3/14/2016
616     6/20/2016
Name: Date, dtype: object

### remove Nan from modification

In [9]:
df_station = pd.read_csv('station.csv')
remove_nan =df_station.dropna(subset=['modification_date'])
remove_nan['modification_date']

7      11/9/2015
10      8/9/2016
12     2/24/2015
17     2/24/2015
22     3/24/2015
23     3/27/2015
26     3/18/2016
31     2/24/2015
35     3/13/2015
37     2/23/2015
38     11/2/2015
39      3/4/2015
46    10/29/2015
47     2/20/2015
48     2/20/2015
49     2/20/2015
50     2/20/2015
Name: modification_date, dtype: object

In [10]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(average_Trip,1178.2956753399776)
    assert_equal(most_common_age_bicycle, 34.0)
    assert_equal(avg_bike_station,17.586206896551722)
    assert_equal(avg_bike_station_current.sum(), -62)
    assert_equal(gender_trip,0.9156825992927549)
    print("Success!!!")

test()

Success!!!